<div class="w-100 h-75">
    <div class="container h-100 p-0">
        <div class="row h-100 g-4">

            <div class="col-7">
                <div class="info-column w-100 h-100">
                    <div class="info-column-title">
                        Befordring for elev
                    </div>
                    <div class="info-column-text">
                        Når du som elev er på skoleophold, er du berettiget til befordringsgodtgørelse, hvis der er mere end 10 km hver vej fra bopæl til skole. Befordringsgodtgørelsen bliver beregnet automatisk og udbetales til arbejdsgiver af AUB. Beløbet bliver indberettet efter endt skoleophold. Det er arbejdsgiver, der udbetaler befordringsgodtgørelsen.
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="info-column w-100 h-100">
                    <div class="info-column-title">
                        Fravær
                    </div>
                    <div class="info-column-text">
                        Ved sygdom eller andet fravær skal du som elev hver dag give besked til skolen inden kl. 7:45 direkte i Studie+ under skema, enten via hjemmesiden www.studieplus.dk eller Studie+ App ́en. Husk altid at informere arbejdsgiver om fravær.
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="info-column w-100 h-100">
                    <div class="info-column-title">
                        Skolehjem for elev
                    </div>
                    <div class="info-column-text">
                        hvis der ønskes indlogering på skolehjem, bedes du kontakte skolen senest en uge efter modtagelsen af denne indkaldelse. Derefter vil skolehjemmet tage kontakt.
                    </div>
                </div>
            </div>

            <div class="col-7">
                <div class="info-column w-100 h-100">
                    <div class="info-column-title">
                        Lærepladsen.dk
                    </div>
                    <div class="info-column-text">
                        På www.laerepladsen.dk findes der oplysninger om lærepladsforhold, planlagte skoleophold og fravær.
                    </div>
                </div>
            </div>

            <div class="col-7">
                <div class="info-column w-100 h-100">
                    <div class="info-column-title">
                        Studie+
                    </div>
                    <div class="info-column-text">
                        På www.studieplus.dk findes der oplysninger om planlagte skoleophold, karakterer og fravær. Eleven kan logge på Studie+ med MitID.
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="info-column w-100 h-100">
                    <div class="info-column-title">
                        Facebook.com
                    </div>
                    <div class="info-column-text">
                        Har I spørgsmål til uddannelsen eller vil I gerne følge med i, hvad der sker på skolen (events, konkurrencer m.v.)? Klik ind på www.facebook.com/TECDK
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
