@rendermode InteractiveServer

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<div class="w-100 h-75">
    <div class="container h-100 p-0">
        <div class="row h-auto g-4">
            <div class="col-12">
                <h6 class="display-6 fs-1 text-white text-opacity-75 text-center">Informationer</h6>
            </div>
            
            @foreach (var Column in Columns)
            {
                <div class="col-@Column.Width">
                    <div class="info-column w-100 h-100">
                        <div class="info-column-title">@Column.Title</div>
                        
                        <div class="info-column-text">
                            @if (Column.Text.Any())
                            {
                                <div>@((MarkupString)Column.Text)</div>
                            }
                            else
                            {
                                <div>Text...</div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
