@keyframes borderSpin {
    from {
        --angle: -45deg;
    }

    to {
        --angle: 315deg;
    }
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

div.info-column {
    position: relative;
    border-radius: 0.5rem;
    padding: 1.5rem 3rem;
    background-color: #101010cc;
}

.info-column::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.2rem;
    border-radius: inherit;
    --angle: -45deg;
    background: conic-gradient(from var(--angle), #2e8b57 0%, #006994 25%, #006994 50%, #006994 75%, #2e8b57 100%);
    animation: borderSpin 3s linear infinite;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}

div.info-column-title {
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: Arial, sans-serif;
    color: rgba(255, 255, 255, 0.75);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

div.info-column-text {
    font-size: 1rem;
    font-weight: 200;
    font-family: Arial, sans-serif;
    color: rgba(255, 255, 255, 0.5);
}
