@rendermode InteractiveServer

<Diashow >
    <DiashowItem>
        <div style="background-color: blueviolet; padding: 20px;">
            <h2>Slide 1</h2>
            <p>This is the third slide.</p>
        </div>
    </DiashowItem>

    <DiashowItem>
        <div style="background-color: lightgreen; padding: 20px; height: 100%; width: 100%;">
            <iframe src="https://www.rejseplanen.dk/webapp/?#!P|TP!histId|1!histKey|H415779" title="description"></iframe>

        </div>
    </DiashowItem>

    <DiashowItem>
        <div style="background-color: lightcoral; padding: 20px;">
            <h2>Slide 3</h2>
            <p>This is the third slide.</p>
        </div>
    </DiashowItem>
</Diashow>