@rendermode InteractiveServer

<Diashow DisplayProgressBar DisplayNavButtons FreezeOnHover >
    <DiashowItem>
        <div style="background-color: blueviolet; padding: 20px;">
            <h2>Slide 1</h2>
            <p>This is the third slide.</p>
        </div>
    </DiashowItem>
    <DiashowItem>
        <div style="background-color: red; padding: 20px;">
            <h2>Slide 2</h2>
            <p>This is the third slide.</p>
        </div>
    </DiashowItem>
</Diashow>