@using BlazorApp.Components.Controls.InfoPanels
@inject IConfiguration Configuration
@inject HttpClient Http
@rendermode InteractiveServer
@attribute [StreamRendering]


<Diashow IntervalMs="@(uint.TryParse(Configuration["CustomSettings:Diashow:IntervalMs"], out uint value) ? value : 2000)" DisplayProgressBar DisplayNavButtons FreezeOnHover>
    <DiashowItem>
        <RejseplanWebsite.Pages.Index />
    </DiashowItem>
    <DiashowItem>
        <InfoGuide Columns="@(
            new List<Column>() {
                new Column {
                    Width = 7,
                    Title = "Ferie",
                    Text =
                        @"Sommerferien varer 3 uger samlet og fastsættes af TEC Erhvervscenter. Derudover er der
                          ferie i jul/nytår, de 3 dage før påske og den indeklemte fredag efter Kristi Himmelfart.
                          <br /><br />
                          Øvrig ferie skal bestilles i god tid. Som lærling optjener du ikke feriepenge, men modtager
                          skoleoplæringsydelse under ferien, medmindre du har feriepenge til gode."
                },
                new Column {
                    Width = 5,
                    Title = "Arbejdstider",
                    Text =
                        @"<table class='w-50'>
                            <tbody>
                                <tr><td>Mandag</td><td>7:30 - 15:00</td></tr>
                                <tr><td>Tirsdag</td><td>7:30 - 15:00</td></tr>
                                <tr><td>Onsdag</td><td>7:30 - 15:00</td></tr>
                                <tr><td>Torsdag</td><td>7:30 - 15:00</td></tr>
                                <tr><td>Fredag</td><td>7:30 - 14:30</td></tr>
                            </tbody>
                        </table>"
                },
                new Column {
                    Width = 5,
                    Title = "Flextid",
                    Text =
                        @"Du har mulighed for at flex'e 30 minutter ved både mødetid og
                          fyraften. Du skal arbejde 7 timer dagligt. Hvis du tjekker ud for
                          tidligt, får du besked om tidligste fyraften."
                },
                new Column {
                    Width = 7,
                    Title = "Fravær",
                    Text =
                        @"Ved sygdom, forsinkelse eller andet fravær skal du kontakte din lærer (Studie+) og din
                          instruktør (fraværstelefonen). Er du syg over en weekend, skal du sygemelde dig igen om
                          mandagen. Sygemelding via Studie+ og fraværstelefonen, foregår mellem 7:30 og 8:30.
                          <br /><br />
                          Fraværstelefonen<br />
                          25 45 33 54"
                },
                new Column {
                    Width = 7,
                    Title = "Befordring",
                    Text =
                        @"Hvis du har mindst 10 km hver vej mellem hjem og arbejde, er du berettiget til at modtage
                          befordringstilskud hver måned. Du skal blot søge via www.sdbf.dk senest den sidste hverdag
                          i måneden. Tilskuddet bliver udbetalt midt i den efterfølgende måned.
                          <br /><br />
                          <a href='https://www.sdbf.dk/tec'>www.sdbf.dk/tec</a>"
                },
                new Column {
                    Width = 5,
                    Title = "Studieadministrationen",
                    Text =
                        @"Du kan kontakte studieadministrationen på:
                        <table class='w-75'>
                            <tbody>
                                <tr><td>Telefon</td><td>+45 38 17 70 00</td></tr>
                                <tr><td>Email</td><td><a href='sikkerpost.sop@tec.dk'>sikkerpost.sop@tec.dk</a></td></tr>
                            </tbody>
                        </table>"
                }
            })" />
    </DiashowItem>

    <DiashowItem>
        <InfoGuide Columns="@(
            new List<Column>() {
                new Column {
                    Width = 6,
                    Title = "Sommerafslutning",
                    Text =
                        @"Skolen holder sommerafslutning d. 00/00.
                          <br />
                          Håber vi får dig at se."
                },
                new Column {
                    Width = 6,
                    Title = "Karrieredag",
                    Text =
                        @"Der er karrieredag d. 00/00, inde i øksenhallen i digitalbyen."
                }
            })" />
    </DiashowItem>

@*     <DiashowItem>
        <iframe src="https://gnist.show/" style="height:100vh;width:100vw;"></iframe>
    </DiashowItem>
    <DiashowItem>
        <iframe src="https://www.rejseplanen.dk/webapp/?#!p|tp!histid|0!histkey|h284185" style="height:100vh;width:100vw;"></iframe>
    </DiashowItem>
    <DiashowItem>
        <img src="./keys.png" class="w-100 vh-100 object-fit-cover">
    </DiashowItem> *@

    @if (staticHtmlContent is default(MarkupString[]))
    {
        <p>Loading...</p>
    }
    else
    {
        foreach (var htmlContent in staticHtmlContent)
        {
            <DiashowItem>@htmlContent</DiashowItem>
        }
    }
</Diashow>



@code {
    private MarkupString[]? staticHtmlContent;

    protected override async Task OnInitializedAsync()
    {
        staticHtmlContent = new MarkupString[]
        {
            new(await Http.GetStringAsync("InfoPanels/GitHubInfo/main.html")),
            new(await Http.GetStringAsync("InfoPanels/OfficeInfo/index.html"))
        };
    }
}
